* {
  margin-top: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  border: 1px solid black;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  font-family: 'Playfair Display', serif;
  margin-bottom: 0;
  padding-bottom: 0;

}

.second {
  height: 100%;
  width: 100%;
  float: right;
  background-image: url("CamEron.jpg");
  object-fit: none;
  background-repeat: no-repeat;
  background-position: top;
}

.slideshow li {
  width: 100%;
  display: none;
}

.slideshow li.active {
  display: block;
}

.primary {
  box-sizing: border-box;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: #ACC3AF;
  grid-row: 1;
}

#profile {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  background-color: #dfe0dd;
  
}

#resume {
  margin-left: -15rem;
}

#contact {
/*  margin-left: 10rem;
*/}

#mythical1 {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #e4705a;
}

.octothorpes {
  background-color: #4da3c5;
}

.turing-strenghts {
  background-color: #DEEFF5;
}

.second {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;  
}

.previous {
  background-color: #BDC0C8;
}

.pairing {
  background-color: blanchedalmond;
} 

.contact {
  background-color: #D59770;
}

.icon {
  vertical-align: center;
  font-size: 6rem;
  padding-top: 1.5rem;
  color: black;
  text-decoration: none;
}

.box {
   text-align: center;
   padding-top: 1.75rem;
}

.box:hover{
  border-color: 696565;
}

.button {
  border: 2px solid #e4705a;
  background-color: white;
  margin-bottom: 17px;
  height: 40px;
  width: 20%;
  padding: 5px;  
  font-size: small;
  color: #4da3c5;
  font-family: 'Playfair Display', serif;
}

.button:hover{
  text-decoration: underline lightgrey; 
  opacity: .95;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding-top: .5rem;
  padding-left: 1rem;
  text-align: left;
}

h2 {
  padding-top: 10px;
  font-size: 20px;
  color: black;
  font-family: 'Playfair Display', serif; 
}

h2:hover{
  text-decoration: underline;
  text-decoration-style: wavy;
}

p {
  text-align: left;
  padding: 15px;
}

li {
  float: right;
  color: black;
  font-size: 50px;
  list-style-type: none;
}

.active {
  color: white;
}

.arrow-prev{
  margin-top: 400px;
  margin-left: 20px;
  width: 3.2rem;
  height: 3.2rem;
  float; left;
  border-radius: 50%;
  border-color: black;
  background-color: #4da3c5;

}

.arrow-next {
  margin-top: 400px;
  margin-right: -3.7rem;
  padding-right: 0;
  width: 3.2rem;
  height: 3.2rem;
  float: right;
  border-radius: 50%;
  border-color: black;
  background-color: #4da3c5;

}

.arrow-prev:hover{
  background-color: white;
  border-color: #4da3c5;
  border-width: 2px;
}

.arrow-next:hover{
  background-color: white;
  border-color: #4da3c5;
  border-width: 2px;
}

@media screen and (max-width: 768px){
 
 .wrapper {
  width: 100%;
  grid-gap: 0;
  float: none;
  border: 1px solid black;
  display: inline-block;

 }

.second {
  display: none;
  width: 100%;
  height: 50rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  background-position: top;
}


